{# empty Twig template #}


<div class="well">

<form method="POST" {{form_enctype(form)}} >
    
    {{ form_widget(form)}}
    <input type="submit" class="btn btn-primary" value="envoyer" />
    
    <a href="{{path("index4")}}" class="btn btn-warning">Annuler</a>
</form>

</div>
