{% extends "CatalogueBundle::layout.html.twig" %}

{% block title %}CatalogueBundle:Medicament:recherche{% endblock %}

{% block body %}

<div class="well">

<form method="POST" {{form_enctype(form)}} >
    
    {{ form_widget(form)}}
    <input type="submit" class="btn btn-primary" value="envoyer" />
    
    <a href="{{path("index1")}}" class="btn btn-warning">Annuler</a>
</form>

</div>

{% endblock %}
